<template>
  <q-page>
    <Video></Video>
    <Piano></Piano>
  </q-page>
</template>

<script>
import Video from "../components/Video.vue";
import Piano from "../components/Piano.vue";

export default {
  name: "PageIndex",
  components: { Video, Piano },
};
</script>
<style lang="scss" scoped>
@font-face {
  font-family: CormorantGaramond;
  src: url("../assets/font/cormorantGaramond/CormorantGaramond-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: CormorantGaramond;
}

header {
  margin-bottom: 5%;
  padding-bottom: 5%;
}

#liceu {
  float: left;
  width: 100%;
  max-width: 100px;
  height: auto;
}

h1 {
  align-content: center;
  text-align: center;
}

.q-separator{
  margin-top:2%;
}

.q-toolbar{
  justify-content: space-around;
  height: 100px;
  }

</style>
