<template>
  <q-page>
    <h2>Logueja't !</h2>
    <q-input ref="user" filled v-model="user" label="Username" />
    <q-input
      ref="password"
      filled
      type="password"
      v-model="password"
      label="Password"
    />

    <div id="err" v-show="error">Error ! {{ errorMessage }}</div>

    <q-btn label="LOGIN" icon="send" @click="login()" />

    <q-btn
      label="GOOGLE"
      icon="send"
      @click="googleAuth()"
      class="g-signin2"
    />
  </q-page>
</template>

<script>
const axios = require("axios");

export default {
  name: "PageIndex",
  data() {
    return {
      user: "",
      password: "",
      error: false,
      errorMessage: "",
    };
  },
  methods: {
    async login() {
      const usuario = this.user;
      const pass = this.password;

      this.error = false;
      if (usuario.length > 0 && pass.length > 0) {
       

        let log = await loginUser(usuario, pass);

        if (log == "ERROR") {
          this.error = true;
          this.errorMessage = "Usuari no autoritzat";
        } else {
          this.error = false;
          const token = log.data;
          localStorage.setItem("token", token);
          window.location.href = "/";
        }
      } else {
        this.error = true;
        this.errorMessage = "Els dos camps son obligatoris *";
      }
    },

    async googleAuth() {
      await this.$gAuth
        .signIn()

        .then(async (user) => {
          const token = user.tc.id_token;
          const fetch = await axios.post(
            "https://server247.cfgs.esliceu.net:24743/piano/auth/google/login",
            {
              token,
            }
          );
          localStorage.setItem("token", fetch.data);
          window.location.href = "/";
        });
    },
  },
};

export async function loginUser(email, password) {
  const partitures = await axios.post(
    "http://server247.cfgs.esliceu.net/piano/auth/login",
    {
      usuari: email,
      password: password,
    }
  );

  return partitures;
}
</script>
<style lang="scss" scoped>
#err {
  color: red;
  text-decoration: underline;
  font-size: 40px;
}
</style>
