<template>
  <q-page>
    <h2>Registra't !</h2>
    <q-input ref="nom" filled v-model="nom" label="Nom i cognoms" />
    <q-input ref="mail" filled v-model="mail" label="Correu electrónic" />
    <q-input
      ref="password"
      type="password"
      filled
      v-model="password"
      label="Contrasenya"
    />
    <q-input
      ref="passwordCheck"
      type="password"
      filled
      v-model="passwordCheck"
      label="Repeteix la contrasenya"
    />

    <q-btn label="Registrar" @click="register()" />
  </q-page>
</template>

<script>
const axios = require("axios");

export default {
  name: "PageIndex",

  data() {
    return {
      nom: "",
      mail: "",
      password: "",
      passwordCheck: "",
    };
  },
  methods: {
    async register() {

      let register = await axios.post("https://server247.cfgs.esliceu.net:24743/piano/auth/signup",{
         usuari: {
              email: this.mail,
              nom: this.nom,
            },
            password: this.password
      })

      if(await register.data.notifyType == "SUCCESS"){
        window.location.href='/#/login'
      }

    },
  },
};
</script>
<style lang="scss" scoped>
</style>
