<template>
  <div id="editPartitures">
    <h2>Crear Partitura</h2>

    <q-input ref="titol" filled v-model="titol" label="Titol" />
    <q-select
      filled
      label="Idioma Original"
      v-model="idiomaOriginal"
      :options="idiomas"
    />

    <tinymce
      id="d1"
      :other_options="tinyOptions"
      v-model="lletraOriginal"
      @input="translateLanguage()"
    ></tinymce>

    <q-input v-model="lletraTraduida" label="Lletra Traduida" readonly />

    <div>
      <div v-for="n in nNotes" :key="n" class="columnas">
        <div v-for="q in qNotes" :key="q" class="filas">
          <div v-if="q % 2 == 0 && q != 8" class="tecla negra" :data-ordre="n">
            <drop
              class="drop"
              :class="{ over }"
              @dragover="handleDragOver(notas[notas.length - q], n)"
              @dragleave="over = false"
              @drop="dropOver"
            >
              <img
                v-if="
                  ordre[n - 1].alteracio == 'normal' &&
                  ordre[n - 1].nota == notas[notas.length - q]
                "
                src="../assets/notesimg/nota1.png"
                alt=""
                class="notaPart"
              />
              <img
                v-if="
                  ordre[n - 1].alteracio == 'sostingut' &&
                  ordre[n - 1].nota == notas[notas.length - q]
                "
                src="../assets/notesimg/nota1sust.png"
                alt=""
                class="notaPart"
              />
            </drop>
          </div>
          <div v-else class="tecla blanca" :data-ordre="n">
            <drop
              class="drop"
              :class="{ over }"
              @dragover="handleDragOver(notas[notas.length - q], n)"
              @dragleave="over = false"
              @drop="dropOver"
            >
              <img
                v-if="
                  ordre[n - 1].alteracio == 'normal' &&
                  ordre[n - 1].nota == notas[notas.length - q]
                "
                src="../assets/notesimg/nota1.png"
                alt=""
                class="notaPart"
              />
              <img
                v-if="
                  ordre[n - 1].alteracio == 'sostingut' &&
                  ordre[n - 1].nota == notas[notas.length - q]
                "
                src="../assets/notesimg/nota1sust.png"
                alt=""
                class="notaPart"
              />
            </drop>
          </div>
        </div>
      </div>

      <div class="notas">
        <drag
          class="drag"
          :transfer-data="{ alteracio: 'normal' }"
          :effect-allowed="['copy']"
          drop-effect="copy"
        >
          <img src="../assets/notesimg/nota1.png" class="notasImg" />
        </drag>

        <drag
          class="drag"
          :transfer-data="{ alteracio: 'sostingut' }"
          :effect-allowed="['copy']"
          drop-effect="copy"
        >
          <img src="../assets/notesimg/nota1sust.png" class="notasImg" />
        </drag>
      </div>
      <q-btn label="Borrar" @click="clearPart()" />
    </div>

    <q-btn label="Crear" icon="send" @click="submit()"></q-btn>
  </div>
</template>

<script>
import tinymce from "vue-tinymce-editor";
import { Drag, Drop } from "vue-drag-drop";
const axios = require("axios");

export default {
  name: "Piano",
  components: { tinymce, Drag, Drop },
  data() {
    return {
      over: false,
      token: localStorage.getItem("token"),
      idiomas: [],
      titol: "",
      idiomaOriginal: "",
      lletraOriginal: "",
      lletraTraduida: "",
      idpartitura: '',
      notas: ["do", "re", "mi", "fa", "sol", "la", "si", "do_agut"],
      nNotes: 8,
      qNotes: 8,
      tinyOptions: {
        height: 100,
      },
      currentOrdre: "",
      currentNota: "",
      ordre: [
        {
          pos: 0,
          nota: "",
          alteracio: "",
        },
        {
          pos: 1,
          nota: "",
          alteracio: "",
        },
        {
          pos: 2,
          nota: "",
          alteracio: "",
        },
        {
          pos: 3,
          nota: "",
          alteracio: "",
        },
        {
          pos: 4,
          nota: "",
          alteracio: "",
        },
        {
          pos: 5,
          nota: "",
          alteracio: "",
        },
        {
          pos: 6,
          nota: "",
          alteracio: "",
        },
        {
          pos: 7,
          nota: "",
          alteracio: "",
        },
      ],
      mediaStream: ''
    };
  },
  mounted() {
    if (!this.token) {
      window.location.href = "/#/login";
    }
    this.getIdiomes();

    if (this.$route.query.id) {
      this.printPartitura(this.$route.query.id);
    }

    this.getMedia();
  },

  methods: {
    async getMedia() {
      let stream = null;

      try {
        stream = await navigator.mediaDevices
          .getUserMedia({ audio: true, video: true })
          .then(function (mediaStream) {
            var video = document.querySelector("video");
            video.srcObject = mediaStream;
            video.onloadedmetadata = function (e) {
              video.play();
            };
          })
          .catch(function (err) {
          });
        /* use the stream */
      } catch (err) {
        /* handle the error */
      }
    },
    dropOver(data) {
      this.ordre[this.currentOrdre - 1].nota = this.currentNota;
      this.ordre[this.currentOrdre - 1].alteracio = data.alteracio;
    },
    handleDragOver(n, o) {
      this.currentOrdre = o;
      this.currentNota = n;
    },

    async getIdiomes() {
      let x = await axios.post(
        "http://server247.cfgs.esliceu.net/piano/google/translate/languages"
      );

      const codis = await x.data.map((c) => {
        return `${c.code} - ${c.name}`;
      });

      this.idiomas = codis;
    },
    async translateLanguage() {
      const languageFrom = this.idiomaOriginal.split(" - ")[0];
      const text = this.lletraOriginal;

      let translate = {
        languageFrom: languageFrom,
        languageTo: "ca",
        text: text,
      };

      let x = await axios.post(
        `http://server247.cfgs.esliceu.net/piano/google/translate`,
        {
          languageFrom: translate.languageFrom,
          languageTo: translate.languageTo,
          text: translate.text,
        }
      );

      this.lletraTraduida = x.data;
    },
    async printPartitura(idpartitura) {
      let x = await axios.post(
        "http://server247.cfgs.esliceu.net/piano/score/get",
        {
          id: idpartitura,
        }
      );

      x.data.notes.forEach((a) => {
        this.ordre[a.ordre - 1] = {
          pos: a.ordre,
          nota: a.nom.toLowerCase(),
          alteracio: a.alteracio.toLowerCase(),
        };
      });

      this.idpartitura = idpartitura;
      this.titol = x.data.titol;
      this.idiomaOriginal = x.data.idiomaoriginal;
      this.lletraOriginal = x.data.lletraoriginal;
      this.lletraTraduida = x.data.lletratraduccio;
    },
    clearPart() {
      this.ordre = [
        {
          pos: 0,
          nota: "",
          alteracio: "",
        },
        {
          pos: 1,
          nota: "",
          alteracio: "",
        },
        {
          pos: 2,
          nota: "",
          alteracio: "",
        },
        {
          pos: 3,
          nota: "",
          alteracio: "",
        },
        {
          pos: 4,
          nota: "",
          alteracio: "",
        },
        {
          pos: 5,
          nota: "",
          alteracio: "",
        },
        {
          pos: 6,
          nota: "",
          alteracio: "",
        },
        {
          pos: 7,
          nota: "",
          alteracio: "",
        },
      ];
    },
    async submit() {
      let notes = this.ordre.map((o) => {
        let tipus = "";
        let nota = "";
        if (o.nota) {
          nota = o.nota.toUpperCase();
        }

        if (o.alteracio == "normal") {
          tipus = "regular";
        } else if (o.alteracio == "sostingut") {
          tipus = "sharp";
        }

        return { note: nota, type: tipus };
      });

      notes = notes.filter((n) => {
        return n.note != "";
      });

      let x = await axios.post(
        "http://server247.cfgs.esliceu.net/piano/score/save",
        {
          score: {
            idpartitura: this.idpartitura,
            name: this.titol,
            partituraoriginal: this.lletraOriginal,
            partituratraduccio: this.lletraTraduida,
            idiomaoriginal: this.idiomaOriginal.split(' ')[0],
            idiomatraduccio: "ca",
            notes: notes,
          },
        }
      );
     
     window.location.href = "/#/partitures";
    },
  },
};
</script>
<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
}

.columnas {
  border: 1px solid black;
  float: left;
}

.tecla {
  width: 50px;
  height: 25px;
}

.blanca {
  border-top: 1px solid black;

  background-color: white;
}

.negra {
  height: 20px;
  background-color: black;
}

.notasImg {
  height: 90px;
}

.notaPart {
  width: 20px;
}
.drop {
  height: 100%;
}
</style>