<template>
  <div id="partitures">
    <h2>Partitures</h2>

    <q-btn label="Crear Partitura" icon="create" to="/editPartitura" />

    <q-list>
      <div v-for="p in partitures" :key="p.idpartitura">
        <q-item>
          <q-item-section>
            <q-item-label>{{ p.titol }}</q-item-label>
          </q-item-section>

          <q-item-section>
            <q-item-label>{{ p.idiomaOriginal }}</q-item-label>
          </q-item-section>

          <q-item-section side>
            <q-item-label><q-btn label="Editar" icon="edit" @click="editPartitura(p.id)" /></q-item-label>
            <q-item-label
              ><q-btn
                label="Esborrar"
                icon="delete"
                @click="deletePartitura(p.id)"
            /></q-item-label>
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
      </div>
    </q-list>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "Piano",
  data() {
    return {
      token: localStorage.getItem("token"),
      partitures: [],
    };
  },
  mounted() {
    if (!this.token) {
      window.location.href = "/#/login";
    }
    this.getPartitures();
   
  },
  created() {},
  methods: {
    async getPartitures() {

      const x = await axios.post("http://server247.cfgs.esliceu.net/piano/score/list")

      await x.data.forEach((p) => {
        let part = {
          id: p.idpartitura,
          titol: p.titol,
          idiomaOriginal: p.idiomaoriginal,
          idiomaDesti: p.idiomatraduccio,
          lletraOriginal: p.lletraoriginal,
          lletraDesti: p.lletratraduccio,
          notes: p.notes,
        };
        this.partitures.push(part);

        for (let i = 0; i < this.partitures.length; i++) {
          this.partitures[i].notes = this.ordenaNotes(this.partitures[i].notes);
        }
      });
    },
    ordenaNotes(arrayNotes) {
      let newArray = [];
      for (let i = 0; i < arrayNotes.length; i++) {
        newArray[arrayNotes[i].ordre - 1] = arrayNotes[i];
      }
      return newArray;
    },
    async deletePartitura(idpartitura) {
      let borra = confirm(`Vols esborrar aquesta partitura?`);
      if (borra) {
        let x = await axios.post("http://server247.cfgs.esliceu.net/piano/score/delete",{
          id: idpartitura
        })
      

        window.location.reload();
      }
    },
    editPartitura(idPartitura) {
      window.open(`./#/editpartitura?id=${idPartitura}`, "_self");
    },
  },
};
</script>
<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
}
</style>