<template>
  <div id="piano">
    <div
      v-for="n in notas"
      :key="n"
      :id="n"
      class="teclas"
      data-alteracio="normal"
      @click="playNote(n)"
    ></div>

    <div id="cerca">
      <h2>Cerca</h2>
      <div id="arrayCerca">{{ stringCerca }}</div>
      <q-btn
        @click="
          () => {
            stringCerca = '';
            partituresCerca = [];
          }
        "
        >Esborra</q-btn
      >
      <div id="resultatCerca" v-for="p in partituresCerca" :key="p.id">
        <div id="modalLetra" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close" @click="hideLyrics()">&times;</span>
              <h2>{{ p.titol }}</h2>
            </div>
            <div class="modal-body">
              <h3>Lletra Original</h3>
              <p>{{ lletraOriginal }}</p>
              <q-btn
                label="Copy to clipboard"
                @click="copyClipboard(lletraOriginal)"
              />
              <h3>Lletra Traduïda</h3>
              <p>{{ lletraTraduida }}</p>
              <q-btn
                label="Copy to clipboard"
                @click="copyClipboard(lletraTraduida)"
              />
            </div>
          </div>
        </div>
        <q-list>
          <q-item>
            <q-item-section>
              <q-item-label>{{ p.titol }}</q-item-label>

              <q-item-label
                data-toggle="modal"
                data-target="modalLetra"
                @click="showLyrics(p.lletraOriginal, p.lletraTraduida)"
                id="letra"
                >Lletra
              </q-item-label>
            </q-item-section>

            <q-item-section side>
              <q-btn
                class="glossy"
                round
                color="deep-orange"
                icon="play_arrow"
                @click="playSong(p.notes)"
              />
            </q-item-section>
          </q-item>

          <q-separator spaced inset />
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "Piano",
  data() {
    return {
      notas: [
        "do",
        "do-sust",
        "re",
        "re-sust",
        "mi",
        "fa",
        "fa-sust",
        "sol",
        "sol-sust",
        "la",
        "la-sust",
        "si",
        "do_agut",
      ],
      stringCerca: "",
      partitures: [],
      partituresCerca: [],
      lletraOriginal: "",
      lletraTraduida: "",
    };
  },
  async mounted() {
    const teclas = document.querySelectorAll(".teclas");

    for (let i = 0; i < teclas.length; i++) {
      if (teclas[i].id.includes("sust")) {
        teclas[i].classList.add("negra");
        teclas[i].setAttribute("data-alteracio", "sostingut");
      }
    }

    if (localStorage.getItem("token") != "") {
      this.getPartitures();
    }
  },
  methods: {
    copyClipboard(lletra) {
      navigator.clipboard.writeText(lletra);
    },
    showLyrics(lletraOriginal, lletraTraduida) {
      document.getElementById("modalLetra").style.display = "block";
      this.lletraOriginal = lletraOriginal;
      this.lletraTraduida = lletraTraduida;
    },
    hideLyrics() {
      document.getElementById("modalLetra").style.display = "none";
    },
    playNote(n) {
      this.stringCerca += " " + n;
      this.sound(n);

      const cerca = this.stringCerca.replace(/ +/g, "");
      this.partituresCerca = [];

      this.partitures.forEach((p) => {
        let stringNotes = "";
        p.notes.forEach((n) => {
          if ((n.alteracio = "SOSTINGUT")) {
            stringNotes += n.nom.toLowerCase();
          } else {
            stringNotes += n.nom.toLowerCase() + "-sust";
          }
        });

        if (stringNotes.includes(cerca)) {
          this.partituresCerca.push(p);
        }
      });
    },
    sound(n) {
      let nota;
      if (n == "do_agut") {
        nota = new Audio(require("../assets/audio/do7.ogg"));
      } else {
        nota = new Audio(require("../assets/audio/" + n + ".ogg"));
      }
      nota.play();
    },
    async getPartitures() {
      const x = await axios.post(
        "https://server247.cfgs.esliceu.net:24743/piano/score/list"
      );

      await x.data.forEach((p) => {
        let part = {
          id: p.idpartitura,
          titol: p.titol,
          idiomaOriginal: p.idiomaoriginal,
          idiomaDesti: p.idiomatraduccio,
          lletraOriginal: p.lletraoriginal,
          lletraTraduida: p.lletratraduccio,
          notes: p.notes,
        };
        this.partitures.push(part);

        for (let i = 0; i < this.partitures.length; i++) {
          this.partitures[i].notes = this.ordenaNotes(this.partitures[i].notes);
        }
      });
    },
    ordenaNotes(arrayNotes) {
      let newArray = [];
      for (let i = 0; i < arrayNotes.length; i++) {
        newArray[arrayNotes[i].ordre - 1] = arrayNotes[i];
      }
      return newArray;
    },
    playSong(notas) {
      let i = 0;
      let interval = setInterval(function () {
        let sound;
        if (notas[i].nom == "DO_AGUT") {
          sound = new Audio(require("../assets/audio/do7.ogg"));
        } else {
          sound = new Audio(
            require("../assets/audio/" + notas[i].nom.toLowerCase() + ".ogg")
          );
        }
        sound.play();
        i++;

        if (i == notas.length) {
          clearInterval(interval);
        }
      }, 1000);
    },
  },
};
</script>
<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
}

#piano {
  width: 75%;
  margin-left: 10%;
  margin-right: 50%;
  border: 5px solid black;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: gray;
  background-image: url("../assets/img/background.jpg");
}

.teclas {
  float: left;
  border: 1px solid black;
  width: CALC(100% / 8);
  height: 300px;
  background-color: white;
}

.negra {
  position: absolute;
  float: left;
  background-color: black;
  height: 150px;
  width: 3%;
}

#do-sust {
  margin-left: CALC(100% / 15);
}

#re-sust {
  margin-left: CALC(100% / 6.9);
}

#fa-sust {
  margin-left: CALC(100% / 3.25);
}

#sol-sust {
  margin-left: CALC(100% / 2.6);
}

#la-sust {
  margin-left: CALC(100% / 2.15);
}

#cerca {
  margin-top: 20px;
  text-align: center;
  font-size: 1cm;
  background-color: white;
}

.teclas:hover {
  background-color: gray;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#letra {
  color: red;
  font-size: 30px;
  text-decoration: unde;
}
</style>