<template>
      <div id="videos">
      <h2>Video Tutorials !</h2>
      <video
        width="150px"
        controls
        class="videos"
        @playing="play(1)"
        @pause="paused(1)"
        :data-status="video1"
      >
        <source src="~assets/video/jaime_altozano_piano_basico.mp4" />
      </video>

      <video
        width="150px"
        controls
        class="videos"
        @playing="play(2)"
        @pause="paused(2)"
        :data-status="video2"
      >
        <source src="~assets/video/jaime_altozano_piano_intermedio.mp4" />
      </video>
      <video
        width="150px"
        controls
        class="videos"
        @playing="play(3)"
        @pause="paused(3)"
        :data-status="video3"
      >
        <source src="~assets/video/jaime_altozano_promo.mp4" />
      </video>

      <q-btn outline color="primary" label="PiP" @click="pip()" />
    </div>
</template>
<script>
export default {
  name: "Video",
  data() {
    return {
      videos: [],
      currentVideo: 1,
      video1: false,
      video2: false,
      video3: false,
    };
  },
  mounted() {
    this.videos = document.querySelectorAll(".videos");
  },
  methods: {
    play(n) {
      switch (n) {
        case 1:
          this.video1 = true;
          this.currentVideo = 1;
          break;
        case 2:
          this.video2 = true;
          this.currentVideo = 2;
          break;
        case 3:
          this.video3 = true;
          this.currentVideo = 3;
          break;
      }
    },
    paused(n) {
      switch (n) {
        case 1:
          this.video1 = false;
          break;
        case 2:
          this.video2 = true;
          break;
        case 3:
          this.video3 = false;
          break;
      }
    },
    async pip() {
      let currentWatching;

    if(this.videos.length != 0){
      switch (this.currentVideo) {
        case 1:
          currentWatching = this.videos[0];
          break;
        case 2:
          currentWatching = this.videos[1];
          break;
        case 3:
          currentWatching = this.videos[2];
          break;
        default:
          currentWatching = this.videos[0];
      }

      if (document.pictureInPictureElement) {
        document.exitPictureInPicture();
      } else {
        if (document.pictureInPictureEnabled) {
          await currentWatching.requestPictureInPicture();
        }
      }
    }else{
    }
    },
  },
};
</script>
<style lang="scss" scoped>

*{
  margin: 0;
  padding: 0;
}

#q-page{
  min-height: 0;
}
.videos{
  width: 20%;
}

#videos{
  margin-left:20%;
}

</style>