<template>
  <q-layout>
    <header>
      <img src="../assets/img/liceu.jpg" alt="Logo" id="liceu" />
      <h1>Score Finder</h1>
      <q-toolbar class="bg-grey-3 shadow-2 rounded-borders">
        <q-btn flat label="Inici" to="/" size="2em" />
        <q-separator vertical inset />

        <q-btn
          stretch
          flat
          label="Login"
          to="/login"
          size="2em"
          v-if="!token"
        />
        <q-btn
          stretch
          flat
          label="Surt"
          @click="logout()"
          size="2em"
          v-if="token"
        />

        <q-separator vertical inset />

        <q-btn stretch flat label="Partitures" to="/partitures" size="2em" v-if="token" />
        <q-btn stretch flat label="Registre" to="/signup" size="2em" v-if="!token" />
      </q-toolbar>
    </header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "Main",
  data() {
    return {
      token: localStorage.getItem("token"),
      user: {},
    };
  },
  methods: {
    logout() {
      this.token = "";
      this.user = {};
      localStorage.setItem("token","");
      localStorage.setItem("user",{});
      window.location.href="/"
    },
  },
};
</script>
<style>
* {
  margin: 0;
  padding: 0;
  font-family: CormorantGaramond;
}

header {
  margin-bottom: 5%;
  padding-bottom: 5%;
}

#liceu {
  float: left;
  width: 100%;
  max-width: 100px;
  height: auto;
}

h1 {
  align-content: center;
  text-align: center;
}

.q-separator {
  margin-top: 2%;
}

.q-toolbar {
  justify-content: space-around;
  height: 50px;
  font-size: 10px;
}
</style>
